// color site
$color-white: #fff;
$color-black: #111;
$color-gray: #dadada;
$color-greenish-blue-dark: #2a5d68;
$color-greenish-blue: #33717f;
$color-pastel-turquoise: #7dbbb9;
$color-pale-blue: #c5d7d9;
$color-forest-wolf: #d8d3d0;
$color-light-blue: #dcdbe1;

// transition
$transition-f: .1s;
$transition-m: .2s;
$transition-l: .3s;

// border radius
$borderRadius: 3px;